.cars {
    overflow: hidden;
    padding-bottom: 1rem;

    @media (min-width:1024px) {
        margin-bottom: 1rem;
    }

    @media (min-width:1600px) {
        margin-bottom: 2rem;
    }
}

.cars__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'American Captain', sans-serif;
    letter-spacing: .5px;
    font-weight: 300;
    margin-left: 1rem;

    @media (min-width:480px) {
        font-size: 1.5rem;
    }

    @media (min-width:768px) {
        font-size: 2.2rem;
        margin-left: 2rem;
    }

    @media (min-width:1024px) {
        font-size: 3rem;
    }

    @media (min-width:1280px) {
        font-size: 4.5rem;
    }

    @media (min-width:1600px) {
        font-size: 5.5rem;
        margin-left: 4rem;
    }
}

.cars__paragraph {
    text-align: left;
    margin: 0.5rem 0 0.5rem 1rem;
    font-size: 0.5rem;
    color: #bdbdbd;

    @media (min-width:480px) {
        font-size: .6rem;
    }

    @media (min-width:768px) {
        font-size: .8rem;
        margin-left: 2rem;
    }

    @media (min-width:1024px) {
        font-size: .9rem;
    }

    @media (min-width:1280px) {
        font-size: 1.2rem;
    }

    @media (min-width:1600px) {
        font-size: 1.4rem;
        margin-left: 4rem;
    }
}

.cars__content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-areas:
        'c1 c1 c1 c2 c2 c2 c2 c3 c3 c3 c3 c4 c4 c4'
        'c5 c6 c6 c6 c6 c7 c7 c7 c7 c8 c8 c8 c8 c9'
}

.cars__img {
    min-height: 4rem;

    @media (min-width:600px) {
        min-height: 6.5rem;
    }

    @media (min-width:1024px) {
        min-height: 11rem;
    }

    @media (min-width:1280px) {
        min-height: 13rem;
    }

    @media (min-width:1600px) {
        min-height: 16rem;
    }

    &:nth-child(1) {
        background: url('../../assets/img/Cars.png') no-repeat;
        background-size: cover;
        grid-area: c1;
    }

    &:nth-child(2) {
        background: url('../../assets/img/Cars2.png') no-repeat;
        background-size: cover;
        grid-area: c2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &:nth-child(3) {
        background: url('../../assets/img/Cars3.png') no-repeat;
        background-size: cover;
        grid-area: c3;
    }

    &:nth-child(4) {
        background: url('../../assets/img/Cars4.png') no-repeat;
        background-size: cover;
        grid-area: c4;
    }

    &:nth-child(5) {
        background: url('../../assets/img/Cars5.png') no-repeat;
        background-size: cover;
        grid-area: c5;
    }

    &:nth-child(6) {
        background: url('../../assets/img/Cars6.png') no-repeat;
        background-size: cover;
        grid-area: c6;
    }

    &:nth-child(7) {
        background: url('../../assets/img/Cars7.png') no-repeat;
        background-size: cover;
        grid-area: c7;
    }

    &:nth-child(8) {
        background: url('../../assets/img/Cars8.png') no-repeat;
        background-size: cover;
        grid-area: c8;
    }

    &:nth-child(9) {
        background: url('../../assets/img/Cars9.png') no-repeat;
        background-size: cover;
        grid-area: c9;
    }
}

.cars__subtitle {
    text-align: center;
    font-size: 0.5rem;
    width: 100%;

    @media (min-width:1024px) {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    @media (min-width:1280px) {
        font-size: 1.3rem;
    }

    @media (min-width:1600px) {
        font-size: 1.5rem;
    }
}

.cars__p {
    text-align: center;
    font-size: 0.35rem;
    width: 100%;
    color: #bdbdbd;

    @media (min-width:1024px) {
        font-size: .5rem;
    }

    @media (min-width:1280px) {
        font-size: .8rem;
        margin-bottom: .7rem;
    }

    @media (min-width:1600px) {
        font-size: 1rem;
    }
}

.cars__btn {
    border: .5px solid white;
    border-radius: 2px;
    background-color: transparent;
    padding: .1rem .25rem;
    font-size: 0.35rem;
    color: white;
    margin-top: .3rem;

    @media (min-width:1024px) {
        font-size: .8rem;
        margin: .5rem 0;
        padding: .1rem .5rem;
    }

    @media (min-width:1280px) {
        font-size: 1rem;
        padding: .1rem 1rem;
        border-radius: 5px;
    }

    @media (min-width:1600px) {
        font-size: 1.2rem;
    }
}