.contact {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

.contact__content {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;

    @media (min-width:768px) {
        padding-bottom: 2rem;
    }

    @media (min-width:1280px) {
        padding-bottom: 4rem;
    }

    @media (min-width:1600px) {
        padding-bottom: 6rem;
    }
}

.contact__text {
    width: 50%;
    padding: 1rem 0.5rem;
}

.contact__form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}

.contact__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'American Captain', sans-serif;
    letter-spacing: .5px;
    font-weight: 300;
    margin-left: 1rem;

    @media (min-width:480px) {
        font-size: 1.5rem;
    }

    @media (min-width:768px) {
        font-size: 2.2rem;
        margin-left: 2rem;
    }

    @media (min-width:1024px) {
        font-size: 3rem;
    }

    @media (min-width:1280px) {
        font-size: 4.5rem;
    }

    @media (min-width:1600px) {
        font-size: 5.5rem;
        margin-left: 3rem;
    }
}

.contact__p {
    font-size: 0.5rem;
    margin-left: 1rem;
    color: #bdbdbd;

    @media (min-width:768px) {
        font-size: .7rem;
        width: 70%;
        margin-left: 2rem;
    }

    @media (min-width:1024px) {
        font-size: .9rem;
        line-height: 150%;
    }

    @media (min-width:1280px) {
        font-size: 1.2rem;
    }

    @media (min-width:1600px) {
        font-size: 1.4rem;
        margin-left: 3rem;
    }
}

.contact__input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 0.5rem;
    width: 40%;

    @media (min-width:768px) {
        font-size: .7rem;
        margin: 0.4rem 0;
    }

    @media (min-width:1024px) {
        font-size: .9rem;
        width: 43%;
    }

    @media (min-width:1280px) {
        font-size: 1.1rem;
        width: 45%;
    }

    @media (min-width:1600px) {
        font-size: 1.2rem;
        margin: 0.6rem 0;
        width: 48%;
    }

    &:nth-child(5) {
        width: 100%;
    }
}

.contact__btn {
    border: .5px solid white;
    border-radius: 2px;
    background-color: transparent;
    padding: 0;
    font-size: 0.35rem;
    color: white;
    margin-top: .5rem;
    width: 25%;

    @media (min-width:768px) {
        font-size: .7rem;
        margin-top: .8rem;
    }

    @media (min-width:1024px) {
        font-size: .9rem;
        width: 15%;
        border-radius: 5px;
    }

    @media (min-width:1280px) {
        font-size: 1.1rem;
        margin-top: 1.2rem
    }
}

.contact__map {
    background: url('../../assets/img/Map.png') no-repeat;
    background-size: contain;
    position: relative;
    min-height: 5.5rem;
    width: 100%;

    @media (min-width:480px) {
        min-height: 6.5rem;
    }

    @media (min-width:600px) {
        min-height: 9rem;
    }

    @media (min-width:768px) {
        min-height: 11rem;
        background-size: cover;
    }

    @media (min-width:1024px) {
        min-height: 14rem;
    }

    @media (min-width:1280px) {
        min-height: 18rem;
    }

    @media (min-width:1600px) {
        min-height: 20rem;
    }
}

.contact__vector {
    background: url('../../assets/img/Vector.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 1.5rem;
    min-width: 1.5rem;
    z-index: 100;

    @media (min-width:768px) {
        min-height: 2rem;
        min-width: 2rem;
    }

    @media (min-width:1024px) {
        min-height: 4rem;
        min-width: 4rem;
    }

    @media (min-width:1280px) {
        min-height: 6rem;
        min-width: 6rem;
    }

    @media (min-width:1600px) {
        min-height: 7rem;
        min-width: 7rem;
    }
}