@font-face {
  font-family: 'American Captain';
  src: url('./assets/fonts/american-captain.ttf');
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  background: #161616;
  color: #fff;
  width: 100%;
}

html,
body {
  overflow-x: hidden;
}